body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    background-image: url("res/back.png");
    background-repeat: repeat-y repeat-y;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 90vh;
    margin: auto;
}

.main {
    margin: auto;
    width: 600px;
    height: auto;
    border: 3px solid #ddd;
    background-color: #000;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.lists {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    margin: auto;
    height: 140px;
}

p,
a {
    color: #666;
    transition: 0.3s;
    text-decoration: none;
    background-color: #000;
    width: 70px;
}

p,
a:hover,
h1 {
    color: #ddd;
    background-color: #666;
    width: 70px;
}

.img {
    width: 600px;
    height: 340px;
}